﻿@model App_Caculadora_de_Prestamos.Models.CalculadoraPrestamos

@{
    
}
<br />
<h1 class="text-primary" style="text-align:center">Detalles del Prestamo</h1>

<div>
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Monto del préstamo en RD$: </th>
                <td>@Html.DisplayFor(model => model.Monto)</td>
            </tr>
            <tr>
                <th>Tasa de Porcentaje Anual: </th>
                <td>@Html.DisplayFor(model => model.Tasa)</td>
            </tr>
            <tr>
                <th>Plazo en Meses: </th>
                <td>@Html.DisplayFor(model => model.Plazo)</td>
            </tr>
            <tr>
                <th>Valor Cuota: </th>
                <td>@Html.DisplayFor(model => model.cuota)</td>
            </tr>    
         
        </tbody>
    </table>
</div><br /> 

 
             <h1 class="text-primary" style="text-align:center">Tabla de Amortización</h1>
<table class="table table-responsive">
<thead>
    <tr>
        <th>Pago</th>
        <th>Fecha de Pago</th>
        <th>Cuota</th>
        <th>Saldo Inicial</th>
        <th>Capital</th>
        <th>Interes</th>
        <th>Balance</th>
    </tr>
</thead>
    @{ 
        decimal cuota = Model.cuota, SaldoInicial, capital =0,intereses,balance = 0,TasaM;
        int i = 1;

        Math.Round(SaldoInicial = Model.Monto, 2);
        TasaM = (Model.Tasa / 100) / 12;
        cuota = TasaM + 1;
        cuota = (decimal)Math.Pow((double)cuota, Model.Plazo);
        cuota = cuota - 1;
        cuota = TasaM / cuota;
        cuota = TasaM + cuota;
        cuota = Model.Monto * cuota;
        for (i = 1; i <= Model.Plazo; i++)
        {
            DateTime Fecha;
            Fecha = DateTime.Now;
        SaldoInicial += - capital;
        intereses = TasaM * SaldoInicial;
        capital = cuota - intereses;
        balance = SaldoInicial - capital;


            <tbody>
                    <tr>
                        <td>@i</td>
                        <td>@Fecha.AddDays(i).AddMonths(i - 1).ToShortDateString()</td>
                        <td>@Math.Round(cuota, 2)</td>
                        <td>@Math.Round(SaldoInicial, 2)</td>
                        <td>@Math.Round(capital, 2)</td>
                        <td>@Math.Round(intereses, 2)</td>
                        <td>@Math.Round(balance, 2)</td>
                    </tr>
            </tbody>
        }
    }
</table>
<p>
    <button type="submit" class="btn btn-default" onclick="location.href = '@Url.Action("Index","CaculadoraPrestamos")'"> <span class="glyphicon glyphicon-circle-arrow-left"></span> <strong>Regresar al inicio</strong></button>
</p>
