﻿@model App_Caculadora_de_Prestamos.Models.CalculadoraPrestamos
@{
   
}

<h1 class="text-primary" style="text-align:center">Calculadora de prestamos</h1>

<html>

<head>
  <body>



      <div class="row">
          @using (Html.BeginForm("/DetallesPrestamo", "CaculadoraPrestamos", FormMethod.Post))
          {
              <div class="form-horizontal">
                  <label for="Monto">Monto del préstamo en RD$: </label>
                  <input type="text" class="form-control" id="monto" name="monto" required translate="yes" />
                  
              </div>

              <div class="form-horizontal">
                  <label for="Tasa">Tasa de Porcentaje Anual %: </label>
                  <input type="text" class="form-control" id="tasa" name="tasa" required/>

              </div>

              <div class="form-horizontal">
                  <label for="Plazo">Plazo en meses: </label>
                  <input type="text" class="form-control" id="plazo" name="plazo" required/>

              </div>

              <br />

              
              <button type="submit" class="btn btn-success" name="calculo"> <span class="glyphicon glyphicon-modal-window"></span> Calcular </button>
            
          }
      </div>
  </body>
</head>
</html>

